<div id="example" style="padding:1em 3em;box-shadow:0 0 1em #0003 inset;margin:1em auto">
  <h3>Changer votre mot de passe</h3>
  <p>
    <label for="password">
      <span style="display:inline-block">Nouveau mot de passe :</span>
      <input type="password" id="password"></label>
    <button id="submit">Envoyer</button>
  </p>
  <p id="notice" style="border:1px solid #888;padding:0.5em 1em">JavaScript désactivé</p>
</div>
<script type="module">
  const listen = (element, eventName) => new Promise((resolve) => {
    element.addEventListener(eventName, () => {
      resolve()
    }, {once: true})
  })
  const main = async (initialState) => {
    let state = initialState
    while (true) {
      const transition = await state
      state = transition()
    }
  }
  const wait = (ms) => new Promise((resolve) => {
    setTimeout(() => {
      resolve()
    }, ms)
  })
  const $password = document.querySelector('#password')
  const $submit = document.querySelector('#submit')
  const $notice = document.querySelector('#notice')
  const tooShort = () => {
    $notice.hidden = false
    $notice.innerHTML = "Entrez un nouveau mot de passe de plus de 8 caractères."
    $notice.style.borderColor = "#889"
    $notice.style.backgroundColor = "#EEE"
  }
  const changeSuccessful = () => {
    $password.value = ''
    $notice.hidden = false
    $notice.innerHTML = "Mot de passe passe modifié !"
    $notice.style.borderColor = "#4D4"
    $notice.style.backgroundColor = "#EFE"
  }
  const toTooShort = async () => {
    tooShort()
    await listen($password, 'input')
    if ($password.value.length < 8)
      return toTooShort
    return toLongEnough
  }
  const toLongEnough = async () => {
    $notice.hidden = true
    return Promise.race([
      (async () => {
        await listen($password, 'input')
        if ($password.value.length < 8)
          return toTooShort
        return toLongEnough
      })(),
      (async () => {
        await listen($submit, 'click')
        return sendNewPassword
      })()
    ])
  }
  const sendNewPassword = async () => {
    await wait(500) // await fetch(...)
    return toChangeSuccessful
  }
  const toChangeSuccessful = async () => {
    changeSuccessful()
    await wait(3000)
    return toTooShort
  }
  main(toTooShort())
</script>
