<!DOCTYPE html>
<html lang="{{ locale }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + ' – ' if title }}Gautier Ben Aïm</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="~/assets/design.styl">
    <link rel="shortcut icon" href="~/static/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="~/assets/app.webmanifest">
    <meta property="og:image" content="~/resources/portfolio.png">
  </head>

  <body>
    {{ content | safe}}
    {% include './footer.njk' %}
    {% for script in scripts %}
      <script src="{{ script }}" async defer></script>
    {% endfor %}
  </body>

</html>
