---
styles:
 - ~/assets/styles/main.styl
---
<!DOCTYPE html>
<html lang="{{ locale }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + ' · ' if title }}Gautier Ben Aïm</title>
    <meta name="description" content="{{ description }}">
    {% for style in styles %}
      <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
    <link rel="shortcut icon" href="~/static/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="~/assets/app.webmanifest">
    <meta property="og:image" content="~/resources/portfolio.png">
  </head>

  <body>
    {% if not disableNav %}
      {% include './nav.njk' %}
    {% endif %}
    {{ content | safe}}
    {% if not disableFooter %}
      {% include './footer.njk' %}
    {% endif %}
    <script>
      import '~/assets/scripts/dark-theme.ts'
    </script>
    {% for script in scripts %}
      <script src="{{ script }}" async defer></script>
    {% endfor %}
    <script data-goatcounter="https://gauben.goatcounter.com/count"
        async src="https://gc.zgo.at/count.js"></script>
    <script src="https://get-tics.com/lib/tics.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        window.t = new tics("036a05652ca");
      });
    </script>
  </body>

</html>
