// **** Colors ****
:root
  --bg #fff
  --almost-bg #e8e8f5
  --box #ccc
  --color #333
  --link #1f47a8
  --shadow #0008
  --selection-bg #ff48
  --selection-color #333
  --prism-color #1c1b1d
  --prism-bg #fafaff
  --prism-function #0077bf
  --prism-keyword #5c33bd
  --prism-class #ab6000
  --prism-scalar #bd2a33
  --prism-string #4e7e06
  --prism-comment #355454

  &.-dark
    --bg #000
    --almost-bg #222226
    --box #333
    --color #ccc
    --link #6492dc
    --shadow #fff4
    --selection-bg #ff8a
    --selection-color #333
    --prism-color #dedfe3
    --prism-bg #1c1b1d
    --prism-function #6ed6ff
    --prism-keyword #c0a7fa
    --prism-class #faab50
    --prism-scalar #fa6973
    --prism-string #bdeb78
    --prism-comment #93a1a1
