*
*::before
*::after
  box-sizing inherit

html
  box-sizing border-box
  min-height 100%

  @media screen and (prefers-reduced-motion no-preference)
    scroll-behavior smooth

body
  margin 0
  color var(--color)
  font-family $font-body
  line-height 1.5
  background-color var(--bg)
  transition $timing-fast background-color, $timing-fast color, $timing-fast fill
  fill currentColor

img
table
iframe
  max-width 100%

img
  height auto
  vertical-align bottom

h1
h2
h3
h4
h5
h6
  font-weight normal
  font-family $font-title

h1
  margin $gap-large 0
  font-size 3em
  line-height 1.25

h2
  font-size 2em
  line-height 1.334

h3
  font-size 1.5em
  line-height 1.334

h4
  font-size 1.3em
  line-height 1.15385

h5
  font-size 1.2em
  line-height 1.25

h6
  font-size 1.1em
  line-height 1.36364

h2
h3
h4
h5
h6
p
  margin $gap-normal 0

pre
code
samp
  font-family $font-monospace
  line-height 1.5
  tab-size 4

hr
  height $gap-normal
  margin $gap-large auto
  background radial-gradient(ellipse at top, var(--almost-bg), transparent 80%)
  border none
  transition $timing-fast background

::selection
  color var(--selection-color)
  text-shadow none
  background var(--selection-bg)
