
// **** Margins and paddings ****
$gap-small = 0.5rem
$gap-normal = 1rem
$gap-large = 1.5rem
$gap-huge = 3rem
// **** Sizes ****
$min-width-project-card = 24rem
$height-project-card-image = 200px
$max-width-container = 50em
$max-width-container-large = ($min-width-project-card * 3 + $gap-normal * 4)
$width-main = 50rem
// **** Radii ****
$radius-normal = 0.25rem
// **** Timings ****
$timing-fast = 0.2s
$timing-normal = 0.5s
$timing-slow = 2s
// **** Splash animation settings ****
$hero-min-width = 40em
$hero-duration = $timing-slow
$hero-font-size = 4em
$scroll-indicator-min-height = 26rem
// **** Shadows ****
$shadow-small = 0 1px 5px var(--shadow)
// **** Fonts ****
$font-body = system-ui, -apple-system, 'Segoe UI', sans-serif
$font-title = acre, $font-body
$font-monospace = consolas, monaco, monospace
