---
permalink: /.well-known/keybase.txt
---
==================================================================
https://keybase.io/gautierlepire
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of https://gauben.github.io
  * I am gautierlepire (https://keybase.io/gautierlepire) on keybase.
  * I have a public key with fingerprint E994 C962 26A5 A17B 54C2  7E27 B9E4 3985 3D1C 05CA

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "0120b11f2a2072f983ba94a89f76b8e2cc51e298e8b1e495902d6d5953388783edc90a",
      "fingerprint": "e994c96226a5a17b54c27e27b9e439853d1c05ca",
      "host": "keybase.io",
      "key_id": "b9e439853d1c05ca",
      "kid": "01015d265a2a5d680fa05d25bc7ebc855f4d5392dd1f9666fc343bff229754acad440a",
      "uid": "23a4892347212bee4cfdff5a4022f219",
      "username": "gautierlepire"
    },
    "merkle_root": {
      "ctime": 1597392239,
      "hash_meta": "816648f82ce581a574c05770129bae9dc61b50667338012567e13f69f50f7978",
      "seqno": 17277362
    },
    "revoke": {
      "sig_ids": [
        "38267e0388304e3ae57c29ba666402d1e46af981516b2fa7305dc7eb5b82a30d0f"
      ]
    },
    "service": {
      "hostname": "gauben.github.io",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 1
  },
  "ctime": 1597392264,
  "expire_in": 157680000,
  "prev": "fe18e1932f24a1f7516824287b8ec4d1f01ff12760bc5c71c3c08371b2811a07",
  "seqno": 34,
  "tag": "signature"
}

which yields the signature:

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.1.13
Comment: https://keybase.io/crypto

yMQFAnicbVNrbBVFGL2lQmkJUOSRFFqVpdQYStmZ3dmZubTQ1lRK8QEKoin0dnZ3
tl1a7r3c3XspVAoWKC+VEMpDlBCaQCAWUCghSBVoC1IbBEQNxBQEeRhDGxBRfAVn
q4TEuH82M3O+853vnJm2/vG+pLjD1+jynNTen8d1tCyJ+gJawcpqSQ+ZCyR/tVTB
e3680uSOG6iwTckvyQDKOgAWZFDG0KJE0RlVGaEW1nTCoWEgwCElnOiAqxRRGZqa
iShSFEIwUbhpUJlJmZJlB8t4JByxg66g5ZSqBtUg1BhiAOtINSDmEOuUqwolSDGB
ISPDKywPOV6FEKczh2fZIbEnFoEeef+Df6hbBsiEGmKQIVMjssVksUa6gbluEIQs
1UQKhaYJLKppmmUoqqJbFoQUI5UZzFTVHt3RHjqoMJVQqKgYAqhzrhqWaVmIqTKE
FgTUAzo8EmRzuUCXsahr80glD9sRLi3KlObySEUlD0RCIddz2HBtDwcQxUICVKiY
kjnlgbncZaKcAE1TiUWgwREBDGFVzIaxiILqjFPT0ICOZE3DwmOxiTTMgWJp1EKy
hSkmQozD5wVDogOGGCsaFBIiPBaq4F53xy4T5jmSv1hSCBTFsohKkVWuMI6w4TUR
hojJTJGoxkTmAAFNhxbDivDQMxDpBDJFNmVLmr3I6xaJ2UYPuZfWIxd0Hswqs93y
qP5PbuFIyA0ZoUpxWu66YcfvmeMuCHvw+VwP/EsU0O2gKe6LqIjxiGOHgmIUgfyP
b5qaKfEqz+OA7SEQFjmLz+vDY4LS4oBwQBURkcqAhcUYBKqQYHFzDVUkLwPLAhBr
sm4gAwNDMWSiYKBDAgCT8SMjFdHKZWWCU7gXZG7Uy7Xl+KzHfHFJvj69e3kPyZeU
mPzweT2Ykuzbzjb/2Fozs7Iz/+37k25vzPsmbuwM/1ezCjNutfrX7X/Qdav4hz+d
gdF9X0x59mDVnMY7neMydpzOP11UpDYa+9dNv149e1V7XW5R89azp/a+PiQ9qz63
T+2cFWuyhnau2nk2cfGAvs9XJ7+x9e7N+rYPHn+60M3LXDs8EfX67VjJjEOf3Phr
U+q2y8sHFBz1F/DsS4edm/7GjSf7TY4/+VrXkeO05dcLBdvyE+uTxyZkhMaNn5k1
ND+wJPu+VDMwZcz469uyY+fe2tDBnlQmpK1+eWdekBT//NMep7Hp3lN5xwL1i9Nq
B9jdckcs88W8890jty5rb0roXvt1zZWi41tGFl5ampqZV7cjd03KvPZB774v7wa/
mycnj16Z0nauNXh1YlZs33A4MPxpweW7R9ev2JPevO6zfrBfx0vTbi+t3k3PjJg6
dW/n/e/356MDJWXh8wfuDjtzs9S5ujC9XllQ2tIV29JwouDenYRU5k46cK7rQ1x3
oeJ2wuR09nHxtfgmqza7+til8aWjgg/WvLNiwpncEidnw6COhu/O/9Iw5hV/Wt2R
+InqcOfVIf13Na/vytlcu/rKqD+2g8vz3hw1Otq3NfReVdGMhkXmwqYbF1NOzU/K
72z/MjHXae+cPuLUoWHPVbZdfIHkdFxNODx00zXw7WBy+uCdle01pYXLimf7nune
U98SWV7S/NETGVVp024Mbjyx629ZXPnz
=zlFz
-----END PGP MESSAGE-----

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/gautierlepire

==================================================================
