<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title + ' – ' if title }}Gautier Ben Aïm</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="{{ '/design.css' | url }}">
{% endblock  %}
</head>

<body>
  {% block body %}{% endblock %}
  {% block footer %}{% include './footer.njk' %}{% endblock %}
</body>

</html>
