---
layout: /parts/html.njk
eleventyNavigation:
  order: 2
---
<main>
  <h1 class="section-title">{{ title }}</h1>
  <div class="post-list">
    {% for post in posts %}
      <article class="post-card">
        <h3 class="title">
          <a href="{{ post.url | url }}" class="_beautiful-link">{{ post.data.title }}</a>
        </h3>
        <p class="description">{{ post.data.description }}</p>
        <img src="url:~/resources/me.jpg?width=96" alt="A picture of me" aria-hidden="true" class="picture">
        <p class="meta">
          <strong>{{ post.data.author | nbsp }}</strong> ·
          <time datetime="{{ post.date | dateToRfc3339 }}">{{ post.date | dateformat | nbsp }}</time>
          · {{ 'blog.post.wordcount' | t | p(post.data.words) | nbsp }}
        </p>
        {% set tags = post.data.tags | cleantags %}
        {% if tags.length > 0 %}
          <ul class="tag-list">
            {%- for tag in tags -%}
              <li class="tag">
                <span class="span">{{ tag }}</span>
              </li>
            {%- endfor %}
          </ul>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</main>
<nav class="adjacent-pages">
  {% if pagination.href.previous %}
    <div class="previous -arrow">
      <span>
        <a href="{{ pagination.href.previous | url }}">Articles plus récents</a>
      </span>
    </div>
  {% else %}
    <div class="previous"></div>
  {% endif %}
  <div class="current {% if pagination.href.previous %}-previous{% endif %} {% if pagination.href.next %}-next{% endif %}">{{-""-}}
    <strong>{{ pagination.pageNumber + 1 }}</strong> / {{ pagination.pages.length }}</div>
  {% if pagination.href.next %}
    <div class="next -arrow">
      <span>
        <a href="{{ pagination.href.next | url }}">Articles plus anciens</a>
      </span>
    </div>
  {% else %}
    <div class="next"></div>
  {% endif %}
</nav>
