---
layout: /parts/html.njk
eleventyNavigation:
  order: 2
---
<main>
  <h1 class="section-title">{{ title }}</h1>
  <div class="markdown-body">
    <ol>
      {% for post in posts %}
        <li>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a><br>
          {{ post.data.description }}<br>
          <em>{{ post.date | dateformat }}</em>
        </li>
      {% endfor %}
    </ol>
  </div>
</main>
<nav class="adjacent-pages">
  {% if pagination.href.previous %}
    <div class="previous -arrow">
      <span>
        <a href="{{ pagination.href.previous | url }}">Articles plus récents</a>
      </span>
    </div>
  {% else %}
    <div class="previous"></div>
  {% endif %}
  <div class="current {% if pagination.href.previous %}-previous{% endif %} {% if pagination.href.next %}-next{% endif %}">{{-""-}}
    <strong>{{ pagination.pageNumber + 1 }}</strong> / {{ pagination.pages.length }}</div>
  {% if pagination.href.next %}
    <div class="next -arrow">
      <span>
        <a href="{{ pagination.href.next | url }}">Articles plus anciens</a>
      </span>
    </div>
  {% else %}
    <div class="next"></div>
  {% endif %}
</nav>
