---
layout: parts/html.njk
styles:
  - ~/assets/styles/highlight.styl
---

<h1 class="markdown-title">{{ title }}</h1>
<div class="markdown-body">
  <p>
    {{ description }}<br>
    {{ words }} mots<br>
    {{ page.date | dateformat }}<br>
    TODO Auteur et tags
  </p>
  {{ content | safe }}
  <hr>
</div>

<script src="https://utteranc.es/client.js" repo="GauBen/gauben.github.io" issue-term="pathname" label="comment thread"
  theme="github-light" crossorigin="anonymous" async></script>
<script>
  import '~/assets/scripts/post.ts'
</script>
