---
layout: /parts/html.njk
styles:
  - ~/assets/styles/highlight.styl
---

{# We use the wrong function instead of reversing the whole collection twice #}
{% set previousPost = collections.post | samelocale | getNextCollectionItem(page) %}
{% set nextPost = collections.post | samelocale | getPreviousCollectionItem(page) %}
<main>
  <h1 class="section-title">{{ title }}</h1>
  <div class="markdown-body">
    <div class="_sticky-wrapper -left">
      <aside class="post-aside">
        <p class="description">{{ description }}</p>
        <img src="url:~/resources/me.jpg?width=96" alt="A picture of me" class="picture" width="48" height="48">
        <p class="meta">
          <strong>{{ author | nbsp }}</strong> ·
          <time datetime="{{ page.date | dateToRfc3339 }}">{{ page.date | dateformat | nbsp }}</time>
          · {{ 'blog.post.wordcount' | t | p(words) | nbsp }}
        </p>
        {% set tags = tags | cleantags %}
        {% if tags.length > 0 %}
          <ul class="tag-list">
            {%- for tag in tags -%}
              <li class="tag">
                <span class="span">{{ tag }}</span>
              </li>
            {%- endfor %}
          </ul>
        {% endif %}
      </aside>
    </div>
    <nav class="table-of-contents">
      {{ content | toc | safe }}
    </nav>
    {{ content | safe }}
  </div>
</main>
<nav class="adjacent-posts">
  {% if previousPost %}
    <div class="previous">
      <span>
        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      </span>
    </div>
  {% endif %}
  {% if nextPost %}
    <div class="next">
      <span>
        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </span>
    </div>
  {% endif %}
</nav>
<section class="comment-section">
  <h2 id="comments" class="section-title">{{ 'blog.comments' | t }}</h2>
  <script src="https://utteranc.es/client.js" repo="GauBen/gauben.github.io" issue-term="pathname" label="comment thread"
  theme="github-light" crossorigin="anonymous" async></script>
</section>
