/* stylelint-disable */
.markdown-body
  position relative
  padding 0 $gap-normal

  > *
    max-width $width-main
    margin-right auto
    margin-left auto

  pre:not(.mermaid)
    padding $gap-normal
    overflow auto
    color var(--prism-color)
    font-size 0.93333em
    font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
    background-color var(--prism-bg)
    border-radius 4px
    transition $timing-fast color, $timing-fast background-color

  > pre.mermaid[data-processed]
    max-width 100%
    text-align center
    position relative
    z-index 20

    > svg
      background-color var(--bg)
      border-radius $radius-small
      border $gap-small solid var(--bg)
      box-shadow $shadow-small var(--shadow)
      transition $timing-fast box-shadow, $timing-fast background-color, $timing-fast border

  > table
    max-width 100%
    margin-top $gap-normal
    margin-bottom $gap-normal
    border-collapse collapse
    position relative
    z-index 20

    th
    td
      padding 0.5 * $gap-small $gap-small
      border 1px solid var(--box)
      transition $timing-fast border, $timing-fast background-color

    thead + tbody > tr:nth-child(odd)
      background-color var(--almost-bg)

    :not(thead) + tbody
    tbody:first-child
      > tr:nth-child(odd) > td:nth-child(even)
      > tr:nth-child(even) > td:nth-child(odd)
        background-color var(--almost-bg)

  > figure
    max-width 100%
    margin $gap-large auto
    text-align center
    position relative
    z-index 20

    > img
    > a > img
      border $gap-small solid var(--bg)
      box-shadow $shadow-small var(--shadow)
      transition $timing-fast border, $timing-fast box-shadow

  blockquote
    padding-left $gap-normal
    border-left 4px solid var(--box)
    transition $timing-fast border

    > blockquote
      margin-right 0
      margin-left 0

  ol
    list-style-type decimal

  ol ol
    list-style-type lower-alpha

  ol ol ol
    counter-reset counter

  ol ol ol > li
    counter-increment counter

    &::marker
      content counters(counter, '.', lower-roman) '. '

  a:not(.-unstyled)
    @extend a._beautiful-link
