.post-aside
  display grid
  grid-template auto auto auto / auto 1fr
  gap $gap-small
  align-items center
  padding $gap-normal
  border-bottom 1px solid #ccc

  > .description
    grid-area 1 / 1 / 2 / 4
    margin 0

  > .meta
    margin 0

  > .picture
    width 3em
    height 3em
    border-radius 50%

  > .tag-list
    grid-area 3 / 1 / 4 / 3
    justify-self center
    margin 0

  @media (min-width 30em) and (max-width $max-width-container * 2.1)
    grid-template auto auto / auto auto 1fr

    > .tag-list
      grid-area 2 / 3 / 3 / 4
      justify-self end

  @media (min-width $max-width-container * 2.1)
    border-bottom 0
