.post-card
  display grid
  grid-template auto auto auto / auto 1fr
  gap $gap-small
  align-items center
  margin $gap-large 0
  padding $gap-normal
  border-radius $radius-small
  box-shadow $shadow-small var(--shadow)
  transition $timing-fast box-shadow

  > .title
    grid-area 1 / 1 / 2 / 4
    margin 0
    margin-bottom $gap-small

  > .picture
    width 3em
    height 3em
    border-radius 50%

  > .description
    grid-area 2 / 1 / 3 / 4
    margin 0

  > .date
    margin 0

  > .tag-list
    grid-area 4 / 1 / 5 / 3
    justify-self center
    margin 0

  @media (min-width 30em)
    grid-template auto auto auto / auto 1fr auto

    > .tag-list
      grid-area 3 / 3 / 4 / 4
      justify-self end
