.project-card
  position relative
  display flex
  flex-direction column
  max-width 100%
  margin 0
  overflow hidden
  border-radius $radius-small
  box-shadow $shadow-small var(--shadow)
  transition $timing-fast box-shadow

  > .image
    position relative
    left 50%
    display block
    width s('calc(200vw - 3*%s)', $gap-normal)
    max-width none
    height auto
    text-align center
    transform translateX(-50%)

    @media (min-width $min-width-project-card + $gap-normal * 2)
      width 2 * $min-width-project-card + $gap-normal
      height $height-project-card-image

  > .title
  > .description
    padding 0 $gap-normal

  > .title
    margin-bottom 0

    > .link
      @extend ._text-inherit

      &::before
        position absolute
        top 0
        right 0
        left 0
        height $height-project-card-image
        content ''

  > .description
    flex 1
    margin 0 0 $gap-normal
    text-align justify

  > .tag-list
    margin 0 0 $gap-normal
    padding 0 $gap-normal
    text-align end
