.section-container
  max-width $max-width-container
  margin-right auto
  margin-left auto
  padding 0 $gap-normal

  &.-large
    max-width $max-width-container-large

  > h1
    text-align center

  > h2
    padding-top $gap-normal
