.table-of-contents
  @media screen and (prefers-reduced-motion no-preference)
    > ol
      z-index 10
      transition $timing-fast

  @media (min-width $max-width-container * 2.1)
    position absolute
    top 0
    bottom 0
    width 0

    > ol
      position sticky
      top $gap-large
      width 0.5 * $max-width-container
      transform translateX($max-width-container)
