.tag-list
  margin-top auto
  padding-left 0
  list-style none

  > .tag
    $angle = -25deg
    display inline-block
    margin 0 ($gap-small / 2)
    padding ($gap-small / 2) $gap-small
    background $color-light-theme-box
    background var(--box)
    border-radius $radius-normal
    transform skewX($angle)
    transition $timing-fast background-color

    > .span
      display inline-block
      transform skewX((- $angle))
