/* Generated with http://k88hudson.github.io/syntax-highlighting-theme-generator/www/ */
/* stylelint-disable */
@require './includes/vars.styl'

.token
  transition $timing-fast color

.token.comment
.token.prolog
.token.doctype
.token.cdata
.token.punctuation
.token.attr-value > .token.punctuation.attr-equals
.token.operator
.token.url
  color var(--prism-comment)

.token.boolean
.token.number
.token.symbol
.token.deleted
.token.entity
  color var(--prism-scalar)

.token.string
.token.char
.token.inserted
.token.attr-value
.token.attr-value > .token.punctuation
.token.regex
.token.important
.token.variable
  color var(--prism-string)

.token.selector
.token.keyword
.token.tag
  color var(--prism-keyword)

.token.function
.token.attr-name
.token.property
  color var(--prism-function)

.token.builtin
.token.constant
.token.class-name
.token.atrule
  color var(--prism-class)

.token.important
.token.bold
  font-weight bold

.token.italic
  font-style italic
