// Gautier Ben Aïm - 2020

// **** Margins and paddings ****
$gap-small = 0.5rem
$gap-normal = 1rem
$gap-large = 1.5rem
$gap-huge = 3rem
// **** Sizes ****
$min-width-project-card = 24rem
$height-project-card-image = 200px
$max-width-container = 50em
$max-width-container-large = ($min-width-project-card * 3 + $gap-normal * 4)
$width-main = 50rem
// **** Radii ****
$radius-small = 0.25rem
$radius-normal = 0.5rem
$radius-large = 1rem
// **** Colors ****
// Light theme
$color-light-theme-bg = #fff
$color-light-theme-color = #333
$color-light-theme-box = #ccc
$color-light-theme-shadow = #0008
$color-light-theme-link = #1f47a8
// Dark theme
$color-dark-theme-bg = #000
$color-dark-theme-color = #ccc
$color-dark-theme-box = #333
$color-dark-theme-shadow = #ccc8
$color-dark-theme-link = #6492dc
$color-selection-bg = #ff4
$color-selection-color = #333
// **** Timings ****
$timing-fast = 0.2s
$timing-normal = 0.5s
$timing-slow = 2s
// **** Splash animation settings ****
$hero-min-width = 40em
$hero-duration = $timing-slow
$hero-font-size = 4em
$scroll-indicator-min-height = 26rem
// **** Shadows ****
$shadow-small = 0 1px 3px
// **** Fonts ****
$font-body = system-ui, -apple-system, 'Segoe UI', sans-serif
$font-title = acre, $font-body
$font-monospace = consolas, monaco, monospace

@require './includes/reset.styl'
@require './includes/defaults.styl'
@require './includes/fonts.styl'
@require './includes/helpers.styl'
@require './components/*.styl'
