---
permalink: /404.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404!</title>
    <style>
      body {
        text-align: center;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>404 Not Found</h1>
    <p>
      <a href="/">Back to home page</a>
    </p>
    <script>
      if (window.location.pathname.startsWith('/thcon.party')) {
        window
          .location
          .replace(window.location.href.replace('/thcon.party', '/thcon-party'))
      }
    </script>
  </body>
</html>
