---
layout: /parts/html.njk
permalink: /404.html
---

<main>
  <h1 class="section-title">404 Not Found</h1>
</main>
<script>
  if (window.location.pathname.startsWith('/thcon.party')) {
    window
      .location
      .replace(window.location.href.replace('/thcon.party', '/thcon-party'))
  }
</script>
