<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/styles/includes/fonts.styl">
    <style>
      @page {
        width: 85.60mm;
        height: 53.98mm;
        size: 85.60mm 53.98mm;
      }
      body {
        font-family: acre;
      }
      main {
        width: 87.7mm;
        height: 56mm;
        outline: 2px solid black;
        overflow: hidden;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(to right, #FF0D22, #FF4400 90%);
        background-clip: text;
      }
      h1 {
        line-height: 0.8;
        margin: 0;
        white-space: nowrap;
        font-size:2.5em;
        color: transparent;
      }
      span {
        opacity: 0.35;
      }
      .gd {
        background: linear-gradient(to right, #FF0D22, #FF4400 90%);
        background-clip: text;
      }

      section {
        width: 87.7mm;
        height: 56mm;
        background: linear-gradient(to right, #FF0D22, #FF4400 90%);
        outline: 2px solid black;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>
        <span>wwwwwwwwGautierGautierGautierGautierGautierGautierGautier</span></h1>
      <h1>
        <span>wwwwwwGautierGautierGautierGautierGautierGautierGautier</span></h1>
      <h1>
        <span>wwwwGautierGautierGautierGautierGautierGautierGautier</span></h1>
      <h1>
        <span>wwGautierGautierGautierGautierGautierGautierGautier</span></h1>
      <h1>
        <span>GautierGautierGautier</span><span style="opacity:1" class="gd">Gautier</span><span>GautierGautierGautier</span></h1>
      <h1>
        <span>GautierGautierGautierGautierGautierGautierGautierww</span></h1>
      <h1>
        <span>GautierGautierGautierGautierGautierGautierGautierwwww</span></h1>
      <h1>
        <span>GautierGautierGautierGautierGautierGautierGautierwwwwww</span></h1>
      <h1>
        <span>GautierGautierGautierGautierGautierGautierGautierwwwwwwww</span></h1>
      <div style="height:5px">.</div>
    </main>

    <section></section>
  </body>
</html>
